# Sunucu
PORT=5000
NODE_ENV=development

# MongoDB
MONGO_URI=mongodb://localhost:27017/fitty

# JWT
JWT_SECRET=buraya-cok-guclu-bir-secret-key-yazin-en-az-64-karakter-olmali
JWT_EXPIRES_IN=7d

# Email (Gmail)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=sizin-gmail@gmail.com
EMAIL_PASS=gmail-app-password

# Frontend URL (CORS)
CLIENT_URL=http://localhost:3000
